nav a {
  text-decoration: none;
  color: black;
  margin: 2em;
}

nav:first-child {
  display: flex;
  justify-content: center;
}

nav:nth-child(2) {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#horizontal-underline {
  position: absolute;
  background-color: lightblue;
  height: 4px;
  transition: 0.5s;
}

#vertical-underline {
  position: absolute;
  background-color: lightpink;
  height: 4px;
  transition: 0.5s;
}
